@using BTL_NET2.Models;
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<BTL_NET2.Models.PRODUCT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div id="content" class="space-top-none">
        <div class="main-content">
            <div class="space60">&nbsp;</div>
            <div class="row">
                <div class="col-sm-3">
                    <ul class="aside-menu">
                        @foreach (var item in @ViewBag.loai)
                        {
                            var url = "/loai/" + item.name + "-" + item.id;
                            <li>
                                <a href="@url">@item.name</a>

                            </li>
                        }
                    </ul>
                </div>

                <div class="col-sm-9">
                    <div class="beta-products-list">
                        <h4>
                            Sản phẩm (@ViewBag.dem)
                        </h4>


                        <div class="row">

                            @foreach (var item in @ViewBag.sp)
                            {
                                var url = "/chi-tiet/" + item.name + "-" + item.id;
                                <div class="col-sm-4">
                                    <div class="single-item">
                                        <div class="single-item-header">
                                            <a href="@url"><img src="~/Style_CSS/image/product/@item.images" alt=""></a>
                                        </div>
                                        <div class="single-item-body">
                                            <p class="single-item-title">@item.name</p>
                                            <p class="single-item-price">
                                                <span>@item.price.ToString("#,##0").Replace(',', '.') VNĐ</span>
                                            </p>
                                        </div>
                                        <div class="single-item-caption">

                                            <a class="beta-btn primary" href="@url">Chi tiết<i class="fa fa-chevron-down"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            }

                            @*phân trang*@
                            <div class="col-sm-12 text-center">
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }));
                            </div>
                        </div>

                    </div>
                </div> <!-- .beta-products-list -->

                <div class="space50">&nbsp;</div>


            </div>
        </div> <!-- end section with sidebar and main content -->


    </div> <!-- .main-content -->
</div> <!-- #content -->
</div> <!-- .container -->
