
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
<div class="container">
    <div id="content">
        <div class="row">
            <div class="col-sm-9">

                <div class="row">
                    @foreach (var i in @ViewBag.chitiet)
                    {
                        <div class="col-sm-4">
                            <img src="~/Style_CSS/image/product/@i.images" alt="">
                        </div>
                        <div class="col-sm-8">
                            <div class="single-item-body">
                                <p class="single-item-title">@i.name</p>

                                <p class="single-item-price">
                                    <span>@i.price</span>
                                </p>
                            </div>

                            <div class="clearfix"></div>
                            <div class="space20">&nbsp;</div>

                            <div class="single-item-desc">
                                <p>@i.description</p>
                            </div>
                            <div class="space20">&nbsp;</div>

                            <p>Options:</p>
                            <div class="single-item-options">
                                @*<select class="wc-select" name="size">
                                        <option>Size</option>
                                        <option value="XS">XS</option>
                                        <option value="S">S</option>
                                        <option value="M">M</option>
                                        <option value="L">L</option>
                                        <option value="XL">XL</option>
                                    </select>*@
                                @*<select class="wc-select" name="color">
                                        <option>Color</option>
                                        <option value="Red">Red</option>
                                        <option value="Green">Green</option>
                                        <option value="Yellow">Yellow</option>
                                        <option value="Black">Black</option>
                                        <option value="White">White</option>
                                    </select>*@
                                @*<select class="wc-select" name="color">
                                        <option>Qty</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>*@
                                <a class="add-to-cart" href="#"><i class="fa fa-shopping-cart"></i>Thêm vào rỏ hàng</a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    }
                </div>


                <div class="comment">
                    <div class="nd">
                        <p>Đánh Giá </p>
                    </div>
                    <div class="noidung">
                        @foreach (var cm in @ViewBag.cmm)
                        {
                            <p>
                                <b>@cm.account.email</b> : <span>@cm.comment</span>
                            </p>
                        }
                    </div>


                </div>
                <div class="space50">&nbsp;</div>
                <div class="beta-products-list">
                    <h4>Sản phẩm liên quan </h4>
                    
                    <div class="row">
                        @foreach (var i in @ViewBag.splienquan)
                        {
                            var url = "/chi-tiet/" + i.name + "-" + i.id;
                            <div class="col-sm-4">
                                <div class="single-item">
                                    <div class="single-item-header">
                                        <a href="@url"><img src="~/Style_CSS/image/product/@i.images" alt=""></a>
                                    </div>
                                    <div class="single-item-body">
                                        <p class="single-item-title">@i.name</p>
                                        <p class="single-item-price">
                                            <span>@i.price</span>
                                        </p>
                                    </div>
                                    <div class="single-item-caption">
                                       
                                        <a class="beta-btn primary" href="@url">Chi tiết <i class="fa fa-chevron-right"></i></a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div> <!-- .beta-products-list -->
            </div>
            <div class="col-sm-3 aside">
                <div class="widget">
                    <h3 class="widget-title">Sản phẩm mới</h3>
                    <div class="widget-body">
                        <div class="beta-sales beta-lists">
                            @foreach (var i in @ViewBag.sanphammoi)
                            {
                                var url = "/chi-tiet/" + i.name + "-" + i.id;
                                <div class="media beta-sales-item">
                                    <a class="pull-left" href="@url"><img src="~/Style_CSS/image/product/@i.images" alt=""></a>
                                    <div class="media-body">
                                        @i.name
                                        <span class="beta-sales-price">@i.price $</span>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div> <!-- best sellers widget -->
            </div>
        </div>
    </div> <!-- #content -->
</div> <!-- .container -->
