@using BTL_NET2.Models;
@*@model IList<CartItem>*@
    <div id="header">
        <div class="header-top">
            <div class="container">
                <div class="pull-left auto-width-left">
                    <ul class="top-menu menu-beta l-inline"></ul>
                </div>
                <div class="pull-right auto-width-right">
                    <ul class="top-details menu-beta l-inline">
                        @{
                            if (Session["TaiKhoan"] == null || Session["TaiKhoan"] == "")
                            {
                                <li><a href="@Url.Action("DangKy","DangNhap")">Đăng kí</a></li>
                                <li><a href="@Url.Action("DangNhap","DangNhap")">Đăng nhập</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("ThongTin","DangNhap")">
                                        @{
                                            account user = (account)Session["TaiKhoan"];
                                            <span>Xin chào :</span> @user.name;
                                        }
                                    </a>
                                </li>
                                <li><a href="@Url.Action("DangXuat","DangNhap")">Đăng xuất</a></li>
                            }
                        }

                    </ul>
                </div>
                <div class="clearfix"></div>
            </div> <!-- .container -->
        </div> <!-- .header-top -->
        <div class="header-body">
            <div class="container beta-relative">
                <div class="pull-left">
                    <a href="" id="logo"><img src="~/Style_CSS/assets/dest/images/logo-cake.png" width="200px" alt=""></a>
                </div>
                <div class="pull-right beta-components space-left ov">
                    <div class="space10">&nbsp;</div>
                    <div class="beta-comp timkiem">


                        @using (Html.BeginForm("TimKiem", "TimKiem", FormMethod.Get))
                        {
                            @Html.TextBox("SearchString")<input type="submit" value="Search" class="btn" />
                        }

                    </div>

                    @*<div class="beta-comp">
                        <div class="cart">
                            <div class="beta-select">
                                
                             @foreach (CartItem i in Model)
                              {
                                  @i.SoLuong
                              } 
                               
                              
                            </div>

                        </div>  .cart 
                    </div>*@
                </div>
                <div class="clearfix"></div>
            </div> <!-- .container -->
        </div> <!-- .header-body -->
        <div class="header-bottom" style="background-color: #0277b8;">
            <div class="container">
                <a class="visible-xs beta-menu-toggle pull-right" href="#"><span class='beta-menu-toggle-text'>Menu</span> <i class="fa fa-bars"></i></a>
                <div class="visible-xs clearfix"></div>
                <nav class="main-menu">
                    <ul class="l-inline ov">
                        <li><a href="@Url.Action("index","TrangChu")">Trang chủ</a></li>
                        <li>

                            <a href="@Url.Action("index","LoaiSanPham")">Sản phẩm</a>

                        </li>

                    </ul>
                    <div class="clearfix"></div>
                </nav>
            </div> <!-- .container -->
        </div> <!-- .header-bottom -->
    </div> <!-- #header -->
