@model BTL_NET2.Models.account

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-6 col-lg-push-3">
            @ViewBag.loi
            @using (Html.BeginForm("DangKy", "DangNhap", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Đăng Ký Tài khoản</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", id = "HoTen" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            <span id="loi" style="color:red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            <span id="loi1" style="color:red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.password, new { htmlAttributes = new { @class = "form-control", id = "password" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            <span id="loi2" style="color:red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", id = "diachi" } })
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                            <span id="loi3" style="color:red"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", id = "dienthoai" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                            <span id="loi4" style="color:red"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input id="btnSubmit" type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    @ViewBag.loi
</div>

<script src="~/Style_CSS/assets/dest/js/jquery.js"></script>
<script src="~/Style_CSS/assets/dest/vendors/jqueryui/jquery-ui-1.10.4.custom.min.js"></script>
    <script>
        $(document).ready(function ($) {
            $('#btnSubmit').click(function () {
                var loi = 0;
                if ($('#HoTen').val() == "") {
                    $('#loi').text("Vui lòng nhập họ tên !");
                    loi++;
                }
                else if ($('#email').val() == "") {
                    $('#loi1').text("Vui lòng nhập email !");
                    loi++;
                }
                else if ($('#password').val() == "" || $('#password').val() < 6) {
                    $('#loi2').text("Mật khẩu không được để trống và phải ít nhất 6 ký tự !");
                    loi++;
                }
                else if ($('#diachi').val() == "") {
                    $('#loi3').text("Vui lòng nhập địa chỉ !");
                    loi++;
                }
                else if ($('dienthoai').val() == "") {
                    $('#loi4').text("Vui lòng nhập điện thoại !");
                    loi++;
                }
                if (loi != 0) {
                    return false;
                }
                return true;
            });
	})
    </script>
